@font-face {
    font-family: 'Shantell Sans';
    src: url('font/ShantellSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Bad Script';
    src: url('font/BadScript-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Brush445';
    src: url('font/Brush445.otf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

.ob{
    width:100%;
    max-width:1140px;
    margin:0 auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e4e2e3;
}

.perehod {
    margin-top: 100px;
    background-image: linear-gradient(#e4e2e3,#bcaaa4);
    width: 100%;
    height: 10px;
}

.perehod1 {
    background-image: linear-gradient(#bcaaa4,#8e776e);
    width: 100%;
    height: 10px;
}

.perehod2 {
    background-image: linear-gradient(#8e776e,#7c6961);
    width: 100%;
    height: 10px;
}

.perehod3 {
    background-image: linear-gradient(#7c6961,#5b4c46);
    width: 100%;
    height: 10px;
}



.menu-phone {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:30px;
    margin-right:30px;
}

menu-phone li {
    margin-right: 20px;
}

nav {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(90deg,#815849,#653f31);
    display: flex;
    flex-direction: row;
    padding: 11px;
    text-align: center;
    gap: 30px;
    align-items: center;
    z-index: 10;
    opacity: 0.9;
}

.checkbtn {
    font-size: 40px;
    color: white;
    cursor: pointer;
    display: none;
    font-weight:800;
}

#check {
    display: none;
}

.cap {

}

.logo {
    font-size: 62px;
    font: bold;
    font-family: 'Shantell Sans', sans-serif;
    color: #fff;
    margin-right: auto;
    margin-left: 20px;
    text-decoration: none;
}

.up-button {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    opacity: 0.8;
    text-decoration:none;
    background-color:transparent;
    border:none;
    transition: all 0.5s;
}

.up-button:hover{
    opacity:1;
    font-size:25px;
    cursor:pointer;
}

.main{
    padding-top:170px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom:100px;
    /*align-items:center;*/
}

.main-img-conteiner{
    
}

.img1 {
    background-image: url('img/main-photo.jpg');
    background-size:cover;
    max-width: 350px;
    max-height: 425px;
    width:25vw;
    height:30vw;
    border-radius: 16px;
}

.img2 {
    background-image: url('img/main-photo2.jpg');
    background-size: cover;
    position: relative;
    max-width: 255px;
    max-height: 255px;
    width: 15vw;
    height: 15vw;
    border-radius: 16px;
    object-fit: none;
    left: 75%;
    top: 75%;
}

.main-text-container{
    display:flex;
    flex-direction:column;

    margin-left:10vw;
}

.main-glav-text {
    font-size: 54px;
    font-family: 'Bad Script', sans-serif;
    font-weight:bold;
}

.main-min-text {
    font-size: 21px;
    font-family: sans-serif;
    font-weight: bold;
    opacity:0.7;
}

.good {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #bcaaa4;
    text-align: center;
}

.good-glav-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 48px;
}

.good-icon {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 32px;
    display:flex;
}

.good-img {
    width: 50%;
    height: 50%;
    background-image: url('img/fire.svg');
    background-size: contain;
    margin: auto;
}

.good-img1 {
    width: 50%;
    height: 50%;
    background-image: url('img/like.svg');
    background-size: contain;
    margin: auto;
}

.good-img2 {
    width: 50%;
    height: 50%;
    background-image: url('img/moln.svg');
    background-size: contain;
    margin: auto;
}

.good-item {
    text-align: center;
    margin-bottom: 64px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    height:7vw;
}

.good-container-icon {
    padding:0;
    margin:0 auto;
    display: flex;
    list-style: none;
}

.good-text {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 140%;
}

.good-text-min {
    text-align:center;
    font-family: sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight:normal;
    opacity:0.7;
    padding-bottom:5vh;
}

.good-imges{
    width:15vw;
    height:15vw;
    border-radius:5%;
}

.sale {

    background-size: contain; 
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #8e776e;
}

.sale-glav-text {
    color:white;
    font-size: 4vw;
    font-family: 'Bad Script', sans-serif;
    font-weight: 700;
    padding:2vh;
    text-align:center;
}

.sale-item-conteiner {
    text-align: center;
    display: inline;

}

.sale-item {
    width: 20vw;
    height: 30vw;
    text-align: center;
    padding:20px;
    background-color: #5b4c46;
    border-radius: 5%;
    justify-content: center;
    margin-bottom: 100px;
}

.sale-contener {
    padding: 0;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.sale-text-zagolov {
    color: white;
    font-size: 2.0vw;
    font-weight: 700;
    font-family: 'Brush445', sans-serif;
    text-align: center;
}

.sale-text {
    margin-top: 2vw;
    color: white;
    font-size: 1.6vw;
    font-weight: 200;
    font-family: 'Brush445', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.new-towar {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #7c6961;
    text-align: center;
}

.new-towar-con {
    display: flex;
    flex-direction:row;
    gap: 2vw;
    justify-content: center;
}

.new-towar-con-item {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
}

.new-towar-con2{
    display:flex;
    flex-direction:column;
    gap:3vw;
}

.new-towar-block{
    width:40vw;
    height:auto;
    background-color:#bcaaa4;
    border-radius:5%;
}

.new-towar-block img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit:cover;
}

.new-towar-block-min {
    width: 18vw;
    height: 18vw;
    background-color: #bcaaa4;
    border-radius: 5%;
}

.new-towar-block-min img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.new-towar-txt {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 2vw;
    color: white;
}

.contact-info {
    padding-top: 61px;
    padding-bottom: 61px;
    background-color: #5b4c46;
    text-align: center;
}

.contact-info-glav-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
    color: white;
}

.contact-info-text {
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
    opacity:0.7;
    color:white;
}

.contact-info-container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content:center;
}

.contact-info-glav-item {
    display: inline;
    text-align: center;
}

    .contact-info-glav-item:hover{
        cursor:pointer;
    }


.contact-info-item {
    display: flex;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 10px;
    justify-content: center;
    align-content: center;
    transition: all 0.5s ease-out;
}

        .contact-info-item:hover{
            transform:scale(1.2);
        }

        .contact-info-img {
            width: 50%;
            height: 50%;
            background-image: url('img/insta.svg');
            background-size: contain;
            margin: auto;
        }
.contact-info-img1 {
    width: 50%;
    height: 50%;
    background-image: url('img/telega.svg');
    background-size: contain;
    margin: auto;
}
.contact-info-img2 {
    width: 50%;
    height: 50%;
    background-image: url('img/vk.svg');
    background-size: contain;
    margin: auto;
}

/*Анимации для js*/

.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}

    .element-animation.element-show {
        opacity: 1;
        transition: all 1.5s;
        transform: translateY(0%);
    }

.container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-bottom:5vw;
}

.container-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}

.cylinder {
    width: 15vw;
    height: 30vw;
    margin: 0 20px;
    background-color: #ccc; /* Цвет цилиндра */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3); /* Увеличенная тень для эффекта объема */
    transform: perspective(500px) rotateX(5deg); /* Добавление перспективы */
}

.liquid {
    width: 100%;
    height: 0;
    background-color: #b4978b; /* Цвет жидкости */
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease, transform 0.5s ease; /* Добавляем трансформацию */
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.5); /* Блик на жидкости */
}

    .liquid::before {
        content: '';
        position: absolute;
        bottom: 100%; /* Позиция фитиля по центру жидкости */
        left: 50%;
        width: 0.8vw; /* Ширина фитиля */
        height: 2vw; /* Высота фитиля */
        background-image: linear-gradient(#000000,#00000000); /* Цвет фитиля с прозрачностью */
        border-radius: 5px; /* Закругление краев фитиля */
        transform: translate(-50%, 50%); /* Центрирование фитиля */
    }

    .liquid::after {
        content: '';
        position: absolute;
        top: -2vw; /* Позиция блика над жидкостью */
        left: 0;
        width: 100%;
        height: 20%; /* Высота блика */
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Градиент для блика */
        border-radius: 10px; /* Закругление краев блика */
    }

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #67564f;
    font-size: 1.6vw;
    font-weight: 200;
    font-family: 'Brush445', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.text2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #67564f;
    font-size: 1.1vw;
    font-weight: 200;
    font-family: 'Brush445', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.cylinder:nth-child(1) .liquid {
    height: 80%; /* Высота жидкости в первом цилиндре */
}

.cylinder:nth-child(2) .liquid {
    height: 60%; /* Высота жидкости во втором цилиндре */
}

.cylinder:nth-child(3) .liquid {
    height: 40%; /* Высота жидкости в третьем цилиндре */
}

.cylinder:nth-child(4) .liquid {
    height: 20%; /* Высота жидкости в четвертом цилиндре */
}


@keyframes rise {
    0% {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -100px) scale(1.5);
        opacity: 0; /* Дым исчезает по мере подъема */
    }
}

@media (max-width: 1100px) {
    .checkbtn {
        display: block;
        order: 1;
        margin-right: 20px;
    }

    .menu-phone {
        position: fixed;
        top: 80px;
        right: -100%;
        margin-right:0;
        background-image: linear-gradient(90deg,#815849,#653f31);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
    }

    .menu-phone li {
        margin: 20px 0;
    }


    #check:checked ~ ul {
        right: 0;
    }

    .sale-text {
        font-size: 2.0vw;
    }

    .sale-text-zagolov {
        font-size: 2.4vw;
    }

    .sale-contener {
        margin: 2vh auto;
        height: 36vh;
        gap: 7vw;
    }

    .main-glav-text {
        font-size: 36px;
        font-family: 'Bad Script', sans-serif;
        font-weight: bold;
    }

    .main-min-text {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        opacity: 0.7;
    }


}

@media (max-width: 900px) {

    .sale-text {
        font-size: 2.0vw;
    }

    .sale-text-zagolov {
        font-size: 2.4vw;
    }

    .sale-contener {
        margin: 2vh auto;
        height: 30vw;
        gap: 5vw;
    }

    .main-glav-text {
        font-size: 24px;
        font-family: 'Bad Script', sans-serif;
        font-weight: bold;
    }

    .main-min-text {
        font-size: 15px;
        font-family: sans-serif;
        font-weight: bold;
        opacity: 0.7;
    }

    .good-glav-text {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 48px;
    }

    .good-icon {
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 auto 32px;
        display: flex;
    }

    .good-img {
        width: 50%;
        height: 50%;
        background-image: url('img/fire.svg');
        background-size: contain;
        margin: auto;
    }

    .good-img1 {
        width: 50%;
        height: 50%;
        background-image: url('img/like.svg');
        background-size: contain;
        margin: auto;
    }

    .good-img2 {
        width: 50%;
        height: 50%;
        background-image: url('img/moln.svg');
        background-size: contain;
        margin: auto;
    }

    .good-text {
        font-family: sans-serif;
        font-size: 18px;
        line-height: 140%;
    }

    .good-text-min {
        font-family: sans-serif;
        font-size: 14px;
        word-wrap: normal;
        color: #000000;
        line-height: 24px;
        font-weight: normal;
        opacity: 0.7;
        padding-bottom: 5vh;
    }

    .cylinder {
        width: 20vw;
        height: 36vw;
        margin: 0 2vw;
    }

    .text {
        font-size: 2.8vw;
    }

    .text2 {
        font-size: 2.0vw;
    }
}

@media (max-width: 800px) {

    .sale-text {
        font-size: 1.6vw;
    }

    .sale-text-zagolov {
        font-size: 2.0vw;
    }

    .sale-contener {
        margin: 2vh auto;
        height: 30vw;
        gap: 0vw;
    }

    .sale-item-conteiner {
        width:1vw;
    }

    .main-glav-text {
        font-size: 28px;
        font-family: 'Bad Script', sans-serif;
        font-weight: bold;

    }

    .main-min-text {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        opacity: 0.7;
    }

    .good-imges {
        width: 30vw;
        height: 30vw;
        border-radius: 5%;
    }

    .new-towar-txt {
        font-size: 7vw;
        margin-bottom: 2vw;
    }

    .new-towar-con {
        flex-direction: column;
        gap: 3vw;
    }

    .new-towar-con-item {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        justify-content: center;
    }

    .new-towar-con2 {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .new-towar-block {
        width: 60vw;
        height: auto;
        background-color: #bcaaa4;
        border-radius: 5%;
    }

    .new-towar-block-min {
        width: 28vw;
        height: 28vw;
        background-color: #bcaaa4;
        border-radius: 5%;
    }

    .container {
        flex-direction: column;
    }

    .sale-glav-text {
        font-size: 7vw;
    }

    .main {
        flex-direction:column-reverse;
    }

    .img1 {
        margin-top: 30px;
        margin-left: 10vw;
        width: 40vw;
        height: 45vw;
    }

    .img2 {
        width: 25vw;
        height: 25vw;
    }
}

@media (max-width: 620px) {

    .cylinder {
        width: 30vw;
        height: 54vw;
        margin: 0 2vw;

    }

    .good-container-icon {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction:column;
        list-style: none;
    }

    .good-item {
        padding-right: 5vw;
        padding-left: 5vw;
        justify-content:center;
    }

    .good-imges {
        width: 50vw;
        height: 50vw;
        border-radius: 5%;
    }

    .good-text-min {
        width:80vw;
        margin:0 auto;
    }

    .text {
        font-size: 4.2vw;
    }

    .text2 {
        font-size: 3.4vw;
    }
}

